<footer th:fragment="footer-content" class="text-center text-lg-start text-white" style="background-color: black;">
			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start pt-4 pb-4">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-12 col-lg-3 col-sm-12 mb-2">
							<!-- Content -->
							<a href="https://mdbootstrap.com/" target="_blank" class="">
								<img src="../static/img/logo.jpeg" height="150" class="rounded-circle" />
							</a>
							<p class="mt-2 text-white">
								©2024 Copyright URBANHOP.com
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-6 col-sm-4 col-lg-2">
							<!-- Links -->
							<h6 class="text-uppercase text-white fw-bold mb-2">
								Tienda
							</h6>
							<ul class="list-unstyled mb-4">
								<li><a class="text-white" href="#">Sobre nosotros</a></li>
								<li><a class="text-white" href="#">Encuéntranos</a></li>
								<li><a class="text-white" href="#">Categorias</a></li>
							</ul>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-6 col-sm-4 col-lg-2">
							<!-- Links -->
							<h6 class="text-uppercase text-white fw-bold mb-2">
								Información
							</h6>
							<ul class="list-unstyled mb-4">
								<li><a class="text-white" href="#">Centro de ayuda</a></li>
								<li><a class="text-white" href="#">Datos de envío</a></li>
								<li><a class="text-white" href="#">Reembolsos</a></li>
							</ul>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-6 col-sm-4 col-lg-2">
							<!-- Links -->
							<h6 class="text-uppercase text-white fw-bold mb-2">
								Soporte
							</h6>
							<ul class="list-unstyled mb-4">
								<li><a class="text-white" href="#">Centro de ayuda</a></li>
								<li><a class="text-white" href="#">Documentos</a></li>
								<li><a class="text-white" href="#">Restaurar cuenta</a></li>
								<li><a class="text-white" href="#">My orden</a></li>
							</ul>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-12 col-sm-12 col-lg-3">
							<!-- Links -->
							<h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
							<p class="text-white">Suscríbete para recibir actualizaciones, acceder a ofertas exclusivas
								y
								más.</p>
							<div class="input-group mb-3">
								<input type="email" class="form-control border" placeholder="Email" aria-label="Email"
									aria-describedby="button-addon2" />
								<button class="btn btn-light border shadow-0" type="button" id="button-addon2"
									data-mdb-ripple-color="dark">
									Join
								</button>
							</div>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<div class="">
				<div class="container">
					<div class="d-flex justify-content-between py-4 border-top">
						<!-- payment -->
						<div>
							<i class="fab fa-lg fa-cc-visa text-dark"></i>
							<i class="fab fa-lg fa-cc-amex text-dark"></i>
							<i class="fab fa-lg fa-cc-mastercard text-dark"></i>
							<i class="fab fa-lg fa-cc-paypal text-dark"></i>
						</div>
						<!-- payment -->
					</div>
				</div>
			</div>
		</footer>