<nav th:fragment="navbar-content"
	class="navbar navbar-expand-lg navbar-light bg-white">
	<!-- Container wrapper -->
	<div
		class="container justify-content-center justify-content-md-between">
		<!-- Toggle button -->
		<button class="navbar-toggler border py-2 text-dark" type="button"
			data-mdb-toggle="collapse" data-mdb-target="#navbarLeftAlignExample"
			aria-controls="navbarLeftAlignExample" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarLeftAlignExample">
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link text-dark fs-5"
					aria-current="page" href="#">Home</a></li>
				<!-- Navbar dropdown -->
				<div class="btn-group dropend">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<button class="btn dropdown-toggle fs-5"
								data-bs-toggle="dropdown" aria-expanded="false">
								Categorias</button>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li><a class="dropdown-item" href="#">Hombre</a></li>
								<li><a class="dropdown-item" href="#">Niños</a></li>
								<li><a class="dropdown-item" href="#">Mujer</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Left links -->
		</div>
	</div>
	<!-- Container wrapper -->
</nav>